/* VITOR */

main{
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#buttonBar{
    position: absolute;
    right: 0;
    top: 0;
}
#buttonBar>div{
    margin: 3px;
    font-size: 25px;
    border-radius: 50%;
    color: #1d00ff7a;
    background-color: #e3dd28;
    padding: 0.5em;
    height: 0.3em;
    width: 0.3em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#buttonBar>div:hover{
    background-color: #135074 ;
    color: #a00;
    border-color: #a00;
}
.fas{
    font-size: 18px;
}
.box_tabuleiro{
    display: flex;
    width: 100%;
    background-image: url(../img/Grama.png);
}
.box_tabuleiro.hell{
    
}
.coluna{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 14.3%;
    height: 60vh;
    /* background-color: #289DE3; */
    cursor: pointer;
}

.coluna:hover{
    background-color: #8ad690;
}

.linha{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: #050;
    border: 2px ridge #3d3;
    border-radius: 100%;
}

.discoPlayer1{

    width: 80%;
    height: 80%;
    background-color: #00f;
    border-radius: 100%;
    border: double #ffd030;
    box-shadow: 0px 0px 0px 3px #00f;
    animation-name: disco;
    animation-duration: 1s;
}

.discoPlayer2{
    width: 80%;
    height: 80%;
    background-color: #A42C1E;
    border-radius: 100%;
    border: double #ffd030;
    box-shadow: 0px 0px 0px 3px #a42c1e;
    animation-name: disco;
    animation-duration: 1s;
}

@keyframes disco {
    from{
        width: 0%;
        box-shadow: 0 0 6px 10px rgb(180, 180, 180);
        margin-top: -100vh;
    }
    to{
        width: 80%;
        box-shadow: 0 0 6px 6px rgb(255, 255, 255);
        margin-top: 0px;
    }
}

.naoinsere{
    background-image: url(../img/2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: happy;
    animation-duration: 2s;
}
.insere{
    background-image: url(../img/1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: happy;
    animation-duration: 2s;
}

@keyframes happy {
    0%{
        margin-top: -60px;
    }
    50%{
        margin-top: 0px;
    }
    100%{
        margin-top: -90px;
    }
}

.player1{
    width: 100px;
    height: 100px;
    background-image: url(../img/S.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 2px;
}

.player2{
    width: 95px;
    height:100px;
    background-image: url(../img/M.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 2px;
}

.box_players{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.player_desselecionado{
    filter: grayscale(1);
}

/* TEMPO PARA A JOGADA DO PLAYER */

.box_time{
    width: 100vw;
    height: 10px;
    background-color: green;
    /* ffca00 */
}

.estilo_time1{
    width: 100vw;
    height: 10px;
    background-color: #A42C1E;
    animation-name: time1;
    animation-duration: 15s;
}

.estilo_time2{
    width: 100vw;
    height: 10px;
    background-color: #289DE3;
    animation-name: time2;
    animation-duration: 15s;
}

@keyframes time1 {
    0%{
        margin-left: -100vw;
    }
    100%{
        margin-left: 0vw;
    }
}

@keyframes time2 {
    0%{
        margin-left: -100vw;
    }
    100%{
        margin-left: 0vw;
    }
}

/* DANIEL */

.paiInicio {
    background-image: url(../img/init.jpg);
    background-size: 178vh;
    background-position: center;
    height: 100vh; 
    display: block;
}
.filhoInicio {
    background-color:rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.meiuca {
    background-color:transparent;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filhoInicio h1 {
    margin-top: 20px;
    font-size: 70px;
    font-weight: 800;
    text-align: center;
    font-family: 'Pixelar Regular', sans-serif;
    color: white;
}
.filhoInicio p {
    font-family: 'Pixelar Regular', sans-serif;
    color: white;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 80%;
    text-align: center;
    padding: 10px;
    border: 2px dotted white;
    border-radius: 20px;
    margin: 50px 0 80px 0;
    max-width: 460px;
}
.filhoInicio button {
    background-color: rgba(218, 21, 21, 0.788);
    color: #fff;
    height: 100px;
    width: 100px;
    font-size: 25px;
    border-radius: 100%;
    font-family: 'Pixelar Regular', sans-serif;
}
.filhoInicio .div1 {
    background-color: gray;
    border: 3px inset;
    width: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filhoInicio .div2 {
    background-color: black;
    width: 10px;
    height: 80px;
}
.filhoInicio .insertCoin {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 280px;
    height: 130px;
    background-color: rgba(172, 171, 171, 0.685);
}
.paiSonic {
    background-image: url(../img/greenzone.png);
    height: 100vh;
    background-size: 205vh;
    display: none;
}
.filhoSonic {
    background-color:rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.meioSonic {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filhoSonic p {
    font-family: 'Pixelar Regular', sans-serif;
    color: white;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 80%;
    text-align: center;
    padding: 10px;
    border: 2px dotted white;
    border-radius: 20px;
    margin: 0px 0 80px 0;
    max-width: 400px;
}
.filhoSonic img {
    height: 300px;
    position: absolute;
    bottom: 0;
}
.sonicCorredor {
    height: 60px;
    width: 60px;
    display: flex;
}
.sonicCorredor img {
    height: 50px;
    position: initial;
}
.filhoSonic h2 {
    margin-top: 20px;
    font-size: 70px;
    font-weight: 800;
    text-align: center;
    font-family: 'Pixelar Regular', sans-serif;
    color: white;
}
.filhoSonic button {
    position: absolute;
    bottom: 40px;
    height: 70px;
    width: 150px;
    font-family: 'Pixelar Regular', sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 25px;
}

.paiMario {
    background-image: url(../img/mariofundo.png);
    height: 100vh;
    background-size: 170vh;
    display: none;
    background-position: center;
}
.filhoMario {
    background-color:rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.meioMario {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filhoMario p {
    font-family: 'Pixelar Regular', sans-serif;
    color: white;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 80%;
    text-align: center;
    padding: 10px;
    border: 2px dotted white;
    border-radius: 20px;
    margin: 0px 0 80px 0;
    max-width: 400px;
}
.filhoMario img {
    height: 300px;
    position: absolute;
    bottom: 0;
}
.marioCorredor {
    height: 60px;
    width: 60px;
    display: flex;
}
.marioCorredor img {
    height: 50px;
    width: 50px;
    position: initial;
}
.filhoMario h2 {
    margin-top: 10px;
    font-size: 70px;
    font-weight: 800;
    text-align: center;
    font-family: 'Pixelar Regular', sans-serif;
    color: white;
}
.filhoMario button {
    position: absolute;
    bottom: 40px;
    height: 70px;
    width: 150px;
    font-family: 'Pixelar Regular', sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 25px;
}

.regras {
    background-image: url(../img/rules.jpg);
    height: 100vh;
    background-size: 112vw;
    display: none;
}
.filhoRegras {
    background-color:rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filhoRegras h2 {
    text-align: center;
    color: white;
    font-family: 'Pixelar Regular', sans-serif;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.filhoRegras p {
    text-align: center;
    font-family: 'Pixelar Regular', sans-serif;
    color: white;
    font-size: 25px;
    padding: 10px;
}
.netoRegras {
    border: 2px dotted white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 656px;
}
.botaoRegras {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: 'Pixelar Regular', sans-serif;
    font-size: 25px;
    padding: 10px;
    margin-top: 6%;
}

.empate {
    background-image: url(../img/empatee.jpg);
    height: 100vh;
    background-size: 170vh;
    display: none;
    background-position: center;
}
.filhoEmpate {
    background-color:rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.meioEmpate {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filhoEmpate p {
    font-family: 'Pixelar Regular', sans-serif;
    color: white;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 80%;
    text-align: center;
    padding: 10px;
    border: 2px dotted white;
    border-radius: 20px;
    margin: 0px 0 20px 0;
    max-width: 400px;
}
.filhoEmpate img {
    height: 200px;
    position: initial;
    bottom: 0;
}
.marioCorredor {
    height: 60px;
    width: 60px;
    display: flex;
}
.corredor img {
    height: 50px;
    width: 50px;
    position: initial;
}
.filhoEmpate h2 {
    margin-top: 10px;
    font-size: 70px;
    font-weight: 800;
    text-align: center;
    font-family: 'Pixelar Regular', sans-serif;
    color: white;
}
.filhoEmpate button {
    position: absolute;
    bottom: 40px;
    height: 70px;
    width: 150px;
    font-family: 'Pixelar Regular', sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 25px;
}
/* HELL MODE */
main.hell{
    background-image: url(../img/hellmodewp.jpg);
}
.box_tabuleiro.hell{
    background-image: none;
    background-size: cover;
}
.linha.hell{
    background-color: transparent;
    border-color: #251200;
}




@media (min-width: 768px){
    .linha{
        width: 40px;
        height: 40px;
    }

    .discoPlayer1{
        width: 80%;
        height: 80%;
    }
    
    .discoPlayer2{
        width: 80%;
        height: 80%;
    }
    /* Daniel */
    .regras {
        background-image: url(../img/rules768.jpg);
        background-size: 200vh;
    }
    .meiuca {
        background-color: rgba(0, 0, 0, 0.5);
        width: 500px;
        border-radius: 25px;
        justify-content: center;
        height: 80%;
    }
    .meiuca h1 {
        margin-top: 0;
    }
    .meioSonic {
        background-color: rgba(0, 0, 0, 0.5);
        width: 500px;
        border-radius: 25px;
        justify-content: start;
        height: 90%;
    }
    .filhoSonic img {
        height: 300px;
        position: initial;
    }
    .sonicCorredor img {
        height: 50px;
        position: initial;
    }
    .filhoSonic p {
        margin: 0;
    }
    .filhoSonic button {
        bottom: 90px;
    }

    .meioMario {
        background-color: rgba(0, 0, 0, 0.5);
        width: 500px;
        border-radius: 25px;
        justify-content: start;
        height: 90%;
    }
    .filhoMario img {
        height: 300px;
        position: initial;
    }
    .marioCorredor img {
        height: 50px;
        position: initial;
    }
    .filhoMario p {
        margin: 0;
    }
    .filhoMario button {
        bottom: 90px;
    }

    .meioEmpate {
        background-color: rgba(0, 0, 0, 0.5);
        width: 500px;
        border-radius: 25px;
        justify-content: start;
        height: 90%;
    }
    .filhoEmpate img {
        height: 200px;
        position: initial;
    }
    .corredor img {
        height: 50px;
        position: initial;
    }
    .filhoEmpate p {
        margin: 0 0 8% 0;
    }
    .filhoEmpate button {
        bottom: 10%;
    }
}


@media (min-width: 1024px){
    
    .linha{
        width: 50px;
        height: 50px;
    }
    .player1{
        width: 146px;
        height: 141px;
    }
    
    .player2{
        width: 134px;
        height: 141px;
    }
}

@media (min-width: 1440px){
    .linha{
        width: 60px;
        height: 60px;
    }
    .discoPlayer1{
        width: 90%;
        height: 90%;
    }
    
    .discoPlayer2{
        width: 90%;
        height: 90%;
    }

    .naoinsere{
        width: 100px;
        height: 100px;
    }
    .insere{
        width: 100px;
        height: 100px;
    }


    .player1{
        width: 184px;
        height: 178px;
    }
    
    .player2{
        width: 167px;
        height: 174px;
    }
}