main{
    display: flex;
    align-items: flex-end;
    background-color: brown;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.coluna{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 14.3%;
    height: 60vh;
    background-color: #289DE3;
    cursor: pointer;

}

.coluna:hover{
    background-color: #2fa1e2;
}

.linha{
    width: 30px;
    height: 30px;
    background-color: #03406C;
    border: 2px ridge #61b9ec;
    border-radius: 100%;
}

.discoPlayer1{

    width: 80%;
    height: 80%;
    background-color: #ffca00;
    border-radius: 100%;
    border: double #e8000036;
    box-shadow: 0px 0px 0px 3px #ffca00;
    animation-name: disco;
    animation-duration: 1s;
}

.discoPlayer2{
    width: 80%;
    height: 80%;
    background-color: #A42C1E;
    border-radius: 100%;
    border: double #ffffff36;
    box-shadow: 0px 0px 0px 3px #a42c1e;
    animation-name: disco;
    animation-duration: 1s;
}

@keyframes disco {
    from{
        width: 0%;
        box-shadow: 0 0 6px 10px rgb(180, 180, 180);
        margin-top: -100vh;
    }
    to{
        width: 80%;
        box-shadow: 0 0 6px 6px rgb(255, 255, 255);
        margin-top: 0px;
    }
}

.naoinsere{
    background-image: url(../img/2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: happy;
    animation-duration: 2s;
}
.insere{
    background-image: url(../img/1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: happy;
    animation-duration: 2s;
}

@keyframes happy {
    0%{
        margin-top: -60px;
    }
    50%{
        margin-top: 0px;
    }
    100%{
        margin-top: -60px;
    }
}

.player1{
    width: 40px;
    height: 40px;
    background-color: #ffca00;
    border-radius: 100%;
    border: double #e8000036;
    box-shadow: 0px 0px 0px 3px #ffca00;  
    margin-left: -20px;
}

.player2{
    width: 40px;
    height: 40px;
    background-color: #A42C1E;
    border-radius: 100%;
    border: double #ffffff36;
    box-shadow: 0px 0px 0px 3px #a42c1e;
    margin-right: -20px;
}

.box_players{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 30%;

}